{% extends "registration/registration_base.html" %}
{% block title %}Strona główna - {% endblock %}
{% block content %}

{% if form.errors %}
<p>Wpisałeś niepoprawne dane do logowania. Sprubuj ponownie</p>
{% endif %}

<p>Nie masz jeszcze danych do logowania - <a href="{% url registration_register %}">Zarejestruj nowe konto</a></p>

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Zaloguj" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<!--<p><a href="{% url auth_password_reset %}">Zapomniałeś hasła?</a></p> -->

{% endblock %}
