{% extends "registration/registration_base.html" %}
{% block title %}Strona główna - {% endblock %}
{% block content %}

{% if form.errors %}
<p>Wpisałeś niepoprawne dane do logowania. Sprubuj ponownie</p>
{% endif %}

<p>Nie masz jeszcze danych do logowania - <a href="{% url registration_register %}">ZAREJESTRUJ NOWE KONTO</a></p>

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<div class="t1">
{{ form.username.label_tag }}
{{ form.username }}

{{ form.password.label_tag }}
{{ form.password }}
<input type="submit" value="Zaloguj" />
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
<p>Bez rejestracji nie można dokonać zadnej czynności w tym systemie. <br> Pamietaj aby po rejestracji kliknąć w link w mailu aktywacyjnym</p>

<!--<p><a href="{% url auth_password_reset %}">Zapomniałeś hasła?</a></p> -->

{% endblock %}
