{% extends "base.html" %}
{% block title %}Strona główna - {% endblock %}
{% block content %}


<p><span style="color: white; font-size: 15pt;">Witaj - jesteś zalogowany jako</span><span style="color: red; font-size: 15pt;"> {{ user }}</span></p>
<div class="menu">
	<ul>
		<li><a href="{% url create_comm %}">Rozpocznij nową transakcję</a></li>
		<li><a href="http://pdmrc.pl/index.php?act=idx" target="blank">Forum</a></li>
		<li><a href="{% url auth_logout %}">Wyloguj</a></li>
	</ul>
</div >
{% if a_todo or b_todo %}
<div class="t1">
<h3>Twoje otwarte transakcje: </h3>
<ul>
{% for comm in a_todo %}
<li>Wystaw opinię dla <span style="color: pink; font-size: 15pt;">{{comm.user_b}}</span> za kupiony przedmiot <a href="{% url aupdate_comm comm.pk %}"> <strong>{{comm.description}}</strong></a></li>
{% endfor %}
{% for comm in b_todo %}
<ul>
<li>Wystaw opinię dla <span style="color: pink; font-size: 15pt;">{{comm.user_a}}</span> za sprzedawany przedmiot <a href="{% url bupdate_comm comm.pk %}"> <strong>{{comm.description}}</strong><br></a></li>
</ul>
{% endfor %}
{% endif %}</div>
<div class="t1">
<h3>Ranking</h3>
{% for u in users %}
	<p><strong>Użytkownik {{ u.username }},</strong><br>
    pozytywnych jako sprzedawca: {{ u.a_positive_points }},<br> 
	negatywnych jako sprzedawca: {{ u.a_negative_points }}, <br>
	pozytywnych jako kupujacy: {{ u.b_positive_points }}, <br>
	negatywnych jako kupujacy: {{ u.b_negative_points }},<br>
	suma jako sprzedawca: {{ u.a_points }}, <br>
	suma jako kupujacy: {{ u.b_points }},  <br>
<!--
	suma: {{ u.points }},<br>
	ilosc transakcji jako sprzedajacy: {{ u.a_count }}<br>
	ilosc transakcji jako kupujacy: {{ u.b_count }}<br>
	ilosc transakcji: {{ u.count }}<br>
	skalowana ocena: {{ u.rating }} <br> -->
</p>
{% endfor %}</div>
{% endblock %}