{% extends "base.html" %}
{% block title %}Strona główna - {% endblock %}
{% block content %}
<div class="ranking">Ranking</div>
<div class="t1">
	<form action="." method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" name="Pokaż" value="Pokaż">
	</form>
</div>

<div class="ranking_01">
	Użytkownik: {{ selected_user }}<br />
  	<div style="color: green; float: left"> pozytywnych jako sprzedawca: {{ selected_user.a_positive_points }}</div> 
	<div style="color: red; float: right"> negatywnych jako sprzedawca: {{ selected_user.a_negative_points }}</div>
	<div style="color: green; float: left"> pozytywnych jako kupujacy: {{ selected_user.b_positive_points }}</div>
	<div style="color: red; float: right"> negatywnych jako kupujacy: {{ selected_user.b_negative_points }}</div>
	<div style="color: yellow; float: left"> ilosc transakcji jako sprzedajacy: {{ selected_user.a_count }}</div>
	<div style="color: yellow; float: right"> ilosc transakcji jako kupujacy: {{ selected_user.b_count }}</div>

</div>
 <!-- 

	suma jako sprzedawca: {{ selected_user.a_points }}, <br>
	suma jako kupujacy: {{ selected_user.b_points }},  <br>
 	suma: {{ selected_user.points }},<br>

 		ilosc transakcji: {{ selected_user.count }}<br>
	skalowana ocena: {{ selected_user.rating }} <br>
   -->
{% endblock %}
