{% extends "base.html" %}
{% block title %}Strona główna - {% endblock %}
{% block content %}

<p>Witaj - {{comm.user_b}} </p>
<h3>menu</h3>
<ul>
<li><a href="{% url create_comm %}">Rozpocznij nową transakcję</a></li>
<li><a href="{% url auth_logout %}">Wyloguj</a></li>
</ul>
{% if a_todo or b_todo %}
<h3>Twoje otwarte transakcje: </h3>
<ul>
{% for comm in a_todo %}
<li><a href="{% url aupdate_comm comm.pk %}">Wystaw opinię dla {{comm.user_b}}</a></li>
{% endfor %}
{% for comm in b_todo %}
<li>Wystaw opinię dla <strong>{{comm.user_a}}</strong> za sprzedawany przedmiot <a href="{% url bupdate_comm comm.pk %}"> <strong>{{comm.description}}</strong></a></li>
{% endfor %}
</ul>
{% endif %}
<h3>ranking</h3>
{% for u in users %}
<p><strong>Użytkownik {{ u.username }},</strong><br>
    pozytywnych jako sprzedawca: {{ u.a_positive_points }},<br> 
	negatywnych jako sprzedawca: {{ u.a_negative_points }}, <br>
	pozytywnych jako kupujacy: {{ u.b_positive_points }}, <br>
	negatywnych jako kupujacy: {{ u.b_negative_points }},<br>
	suma jako sprzedawca: {{ u.a_points }}, <br>
	suma jako kupujacy: {{ u.b_points }},  <br>
<!--
	suma: {{ u.points }},<br>
	ilosc transakcji jako sprzedajacy: {{ u.a_count }}<br>
	ilosc transakcji jako kupujacy: {{ u.b_count }}<br>
	ilosc transakcji: {{ u.count }}<br>
	skalowana ocena: {{ u.rating }} <br> -->
</p>
{% endfor %}
{% endblock %}