body {
	color: White;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: Black;
	margin: 40;
	padding: 0;
}

#CONTENT{ 
width:750px; 
margin-left:auto; 
margin-right:auto;
}

a{ 
	color: #3399FF; 
	text-decoration: none; 
}

a:hover{
	text-decoration: underline;
	color: White;
	cursor: hand;
}


p {
	fint-size: 50pt;
	margin-left: 10px;
	text-align: center;
}

.h1{
	width:600px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	margin: 20px;
	padding: 0px;

}

h2{ 

margin: 0; 
padding: 24px 0 7px 40px; 
font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; 
font-weight: normal; 
letter-spacing: .005em; 
color: White; 
font-size: 15pt; 
}

h3{
	font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif;
	font-weight: normal;
	letter-spacing: 0.005em;
	color: White;
	font-size: 15pt;
	text-align: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

h5{
	text-align: right;
	font-family: "Courier New", Courier, monospace;
	font-size: small;
	text-decoration: none;
	}

strong {
	color: orange;
}

form{
	table-layout: auto;
	text-align: center;

}

table{
	text-align: center;
}

td{
}

tr{
}


.t1{
	text-align: center;
	margin: 20px;
	padding: 0px;
	width: 700px;
}

.t2{
	width: 700px;
	text-align: left;
	margin-left: 60px;
	padding: 20px;
	
}

.ranking{
	width:700px;
	text-align: center;
	margin: 20px;
	padding: 0px;
	display: block;
	background:#4D4D4D;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 15pt;
	font-weight:bold;
}

.ranking_01{
	width:700px;
	text-align: left;
	margin: 20px;
	padding: 20px;
	display: block;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 13pt;
}

.menu{
	width:700px;
	border:none;
	border:0px;
	margin:20px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:bold;
	}

.menu ul{
	background:#4D4D4D;
	background-repeat: no-repeat;
	height:30px;
	line-height: 30px;
	display: block;
	list-style:none;
	margin:0;
	padding: 0 0px 2px 0px;
	}

	.menu li{
		float:left;
		padding:0px;
		}

	.menu li a{
		background:#4D4D4D bottom right no-repeat;
		color:#33cc33;
		display:block;
		font-weight:normal;
		line-height:30px;
		margin:0px;
		padding:0px 10px 0px 10px;
		text-align:center;
		text-decoration:none;
		border-left: 1px solid Black;
		}

		.menu li a:hover, .menu ul li:hover a{
			background: #2580a2;
			color:#FFFFFF;
			text-decoration:none;
			border-bottom: 1px solid Black;
			}

	.menu li ul{
		background:#4D4D4D;
		display:none;
		height:auto;
		padding:0px
		margin:0px;
		border:0px;
		position:absolute;
		width:140px;
		z-index:120;
		/*top:1em;
		/*left:0;*/
		}

	.menu li:hover ul{
		display:block;
		}

	.menu li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:140px;
		}

	.menu li:hover li a{
		background:none;
		}

	.menu li ul a{
		display:block;
		height:30px;
		font-size:13px;
		font-style:normal;
		margin:0px;
		text-align:left;
		}

		.menu li ul a:hover, .menu li ul li:hover a{
			background:#2580a2;
			border:0px;
			color:#ffffff;
			text-decoration:none;
			}

	.menu p{
		clear:right;
		}	
